* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  /* background: url(images/wallpaper.jpg) !important; */
  /* background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain; */

  /* background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */

  background-image: url(./images//bg.jpg);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, .4);
}

.greeting {
  text-align: center;
  margin-top: 100px;
  color: #00C497;
  font-size: 3rem;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.search-box {
  width: 60%;
  display: flex;
  position: relative;
}

.search-box input {
  flex: 1;
  min-width: 300px;
  border: none;
  padding: 22px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  /* border: 1px solid #fff; */
  color: #00C497;
  font-size: 1.6rem;
}

.search-box input::placeholder {
  color: #fff;
  opacity: .6;
}

.search-box button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-image: url(/images/search.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b3b353;
  cursor: pointer;
  transition: 0.4;
}

.search-box button:hover {
  background-color: #ddd;
}

/* schedule */
.schedule {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.schedule .title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 6px;
  z-index: 1;
}

.schedule .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* schedule-item */

.empty-schedule {
  flex: 1;
  width: 250px;
  height: 200px;
  max-width: 400px;
  min-width: 250px;
  border-radius: 4px;
  background-color: rgba(255, 252, 252, 0.486);
  display: flex;
}

.empty-schedule img {
  height: 100%;
}

.empty-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-right: 20px;
  color: rgb(46,
      43,
      43);
}

.schedule-item {
  flex: 1;
  max-width: 400px;
  min-width: 250px;
  color: #9a9ea7;
  display: flex;
  /* background-color: rgba(255, 255, 255, .2); */
  padding: 14px;
  border-radius: 4px;
  font-size: 1.8rem;
  border: 2px dashed rgba(107, 104, 104, 0.534);
  border-spacing: 4px;
  margin-left: 10px;
  margin-top: 10px;
}

.schedule-item .label {
  color: rgba(133, 206, 39, 0.555);
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #7A7C80;
}

.schedule-item p {
  height: 24px;
}

.schedule-item.content p {
  display: block;
}

/* login modal */
.login {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: sandybrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  user-select: none;
}

.login img {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.login h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.login input {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}

.login button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333;
  margin-left: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.login button:hover {
  background-color: tomato;
  color: #fff;
}

#clock {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 4rem;
  color: rgb(168, 164, 164);
}

#btnLogout {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: rgba(255, 255, 255, .2);
  border: 2px solid rgb(156, 149, 149);
  background-image: url(/images/logout.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
  cursor: pointer;
}

#btnLogout:hover {
  transform: scale(1.2);
}